# Python
venv/
.venv/
__pycache__/
*.pyc

# Environment
.env
.env.local
.env.*.local

# VS Code
.vscode/

# macOS
.DS_Store

# Next.js
.next/
out/

# Node
node_modules/

# Logs
*.log

# Alembic (se tiver sqlite local)
*.db
*.sqlite
*.sqlite3

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

__pycache__/
*.pyc
